<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Management System</title>
    <link rel="stylesheet" href="./About.css" />
  </head>
  <body>
    <div class="about-card">
      <img src="../../assets/user.png" alt="About Image" />
      <p>
        lorem 100 ipsum dolor sit amet, consectetur adipiscing elit. Sed vel
        convallis lacus. Donec in turpis at arcu placerat sollicitudin.
        Vestibulum dapibus turpis at libero mollis, at varius sapien
        scelerisque. Sed vel consectetur mauris, at aliquet lectus. Donec non
        enim ac neque gravida volutpat. Donec vel turpis ut dolor tristique
        consectetur. Sed vel tortor id risus viverra tempus. Integer vel velit
        euismod, consectetur libero ac, tristique neque. Nullam ac turpis at
        velit facilisis dignissim. Sed id erat vel ligula tempus vestibulum. Sed
        ac ligula vel felis facilisis laoreet. Vestibulum dapibus turpis at
        libero mollis, at varius sapien scelerisque. Sed vel consectetur mauris,
        at aliquet lectus. Donec non enim ac neque gravida volutpat. Donec vel
        turpis ut dolor tristique consectetur. Sed vel
      </p>
      <a class="about-button" href="../home/home.html">Back to home screen</a>
    </div>
  </body>
  <script src="./About.js"></script>
</html>
